%html
  %head
    %title Lavanderia
    =stylesheet_link_tag :app
  %body
    =yield

    %footer
      %div#company
        %div.about-us
          %ul
            %li
              %a{:href => "/"}FAQ
            %li
              %a{:href => url(:about_us, :prices)}Precios
            %li
              %a{:href => url(:about_us, :terms)}Terminos del Servicio
            %li
              %a{:href => "/"}Politica de Privacidad

        %div.our-services
          %div.services
            %ul
              %li
                %a{:href => url(:services, :serv)}Servicios
              %li
                %a{:href => url(:services, :serv)}Dry Cleaning
              %li
                %a{:href => url(:services, :serv)}Laundered Shirts
              %li
                %a{:href => url(:services, :serv)}Wash and Fold
